Repository dev-chulbuji/infra: changes, and which Atlantis projects are due for each by the changed paths.
All: eks, vpc, ec2

atlantis.yaml:

version: 2
automerge: true # Automatically merge pull request when all plans are applied
projects:
- name: eks
  dir: terraform/eks
  workspace: dev
  terraform_version: v0.11.11
  autoplan:
    when_modified: ["*.tf", "../modules/eks/**.tf"]
    enabled: true
  apply_requirements: [mergeable]
  workflow: dev
- name: vpc
  dir: terraform/vpc
  workspace: dev
  terraform_version: v0.11.11
  autoplan:
    when_modified: ["*.tf", "../modules/vpc/**.tf"]
    enabled: true
  apply_requirements: [mergeable]
  workflow: dev
- name: ec2
  dir: terraform/ec2
  workspace: prod
  terraform_version: v0.11.11
  autoplan:
    when_modified: ["*.tf", "../modules/ec2/**.tf"]
    enabled: true
  apply_requirements: [mergeable]
  workflow: production
workflows:
  production:
    plan:
      steps:
      - init
      - plan
  dev:
    plan:
      steps:
      - init
      - plan

fix: change module source path
  terraform/eks/eks.tf
Due: eks

feat: change atlantis to custom script
  atlantis.yaml
Due: none

fix: ->
  atlantis.yaml
Due: none

feat: change security group name
  .gitignore
  terraform/eks/output.tf
  terraform/modules/eks/02_cluster_network.tf
  terraform/modules/eks/04_worker_network.tf
Due: eks

feat: test terraform workspace with atlantis
  atlantis.yaml
  terraform/ec2/data.tf
  terraform/ec2/dev.tfbackend
  terraform/ec2/ec2.tf
  terraform/ec2/prod.tfbackend
  terraform/modules/eks/variable.tf
  terraform/modules/vpc/main.tf
Due: eks, vpc, ec2

fix: change atlantis.yaml for test
  atlantis.yaml
Due: none

fix: remove workspace select
  atlantis.yaml
Due: none

feat: change config
  atlantis.yaml
Due: none

fix: change indent
  atlantis.yaml
Due: none

feat: change tfbackend -> tfvars
  atlantis.yaml
  terraform/ec2/dev.tfvars
Due: none

feat: add workspace select before init
  atlantis.yaml
Due: none

fix: remove select workspace
  atlantis.yaml
Due: none

feat: add vpc module for eks
  terraform/modules/eks-vpc/00_vpc.tf
  terraform/modules/eks-vpc/01_private.tf
  terraform/modules/eks-vpc/02_public.tf
  terraform/modules/eks-vpc/output.tf
  terraform/modules/eks-vpc/variable.tf
Due: none

feat: infra eks terraform script version 0.12
  terraform/eks/00_local.tf
  terraform/eks/01_provider.tf
  terraform/eks/02_eks.tf
  terraform/eks/data.tf
  terraform/eks/eks.tf
  terraform/eks/module/00_local.tf
  terraform/eks/module/01_local-file.tf
  terraform/eks/module/02_data.tf
  terraform/eks/module/03_variable.tf
  terraform/eks/module/04_output.tf
  terraform/eks/module/05_iam.tf
  terraform/eks/module/06_cluster.tf
  terraform/eks/module/07_cluster_network.tf
  terraform/eks/module/08_cluster_logging.tf
  terraform/eks/module/09_worker.tf
  terraform/eks/module/10_worker_network.tf
  terraform/eks/module/templates/aws_auth-map_roles.yaml.tpl
  terraform/eks/module/templates/aws_auth-map_users.yaml.tpl
  terraform/eks/module/templates/aws_auth.yaml.tpl
  terraform/eks/module/templates/kabang-cert.tpl
  terraform/eks/module/templates/kube_config.yaml.tpl
  terraform/eks/module/templates/kube_config_secret.yaml.tpl
  terraform/eks/module/templates/userdata.sh.tpl
  terraform/eks/output.tf
Due: eks

feat: change eks terraform script
  terraform/eks/00_local.tf
  terraform/eks/01_provider.tf
  terraform/eks/03_eks.tf
  terraform/modules/eks/00_iam.tf
  terraform/modules/eks/00_local.tf
  terraform/modules/eks/01_cluster.tf
  terraform/modules/eks/01_local-file.tf
  terraform/modules/eks/02_cluster_network.tf
  terraform/modules/eks/02_data.tf
  terraform/modules/eks/03_variable.tf
  terraform/modules/eks/03_worker.tf
  terraform/modules/eks/04_output.tf
  terraform/modules/eks/04_worker_network.tf
  terraform/modules/eks/05_iam.tf
  terraform/modules/eks/06_cluster.tf
  terraform/modules/eks/07_cluster_network.tf
  terraform/modules/eks/08_cluster_logging.tf
  terraform/modules/eks/09_worker.tf
  terraform/modules/eks/10_worker_network.tf
  terraform/modules/eks/data.tf
  terraform/modules/eks/local-file.tf
  terraform/modules/eks/local.tf
  terraform/modules/eks/output.tf
  terraform/modules/eks/templates/aws_auth-map_roles.yaml.tpl
  terraform/modules/eks/templates/aws_auth-map_users.yaml.tpl
  terraform/modules/eks/templates/aws_auth.yaml.tpl
  terraform/modules/eks/templates/kabang-cert.tpl
  terraform/modules/eks/templates/kube_config.yaml.tpl
  terraform/modules/eks/templates/kube_config_secret.yaml.tpl
  terraform/modules/eks/templates/userdata.sh.tpl
  terraform/modules/eks/tpl/aws_auth-map_roles.yaml.tpl
  terraform/modules/eks/tpl/aws_auth-map_users.yaml.tpl
  terraform/modules/eks/tpl/aws_auth.yaml.tpl
  terraform/modules/eks/tpl/kube_config.yaml.tpl
  terraform/modules/eks/tpl/kube_config_secret.yaml.tpl
  terraform/modules/eks/variable.tf
Due: eks

feat: add eks module worker ami variable
  terraform/modules/eks/03_variable.tf
  terraform/modules/eks/09_worker.tf
Due: eks

remove .idea
  .idea/vcs.xml
Due: none

pre commit test
  terraform/eks/.pre-commit-config.yaml
  terraform/eks/00_local.tf
  terraform/eks/01_provider.tf
  terraform/eks/03_eks.tf
  terraform/modules/eks/05_cluster.tf
  terraform/modules/eks/05_iam.tf
  terraform/modules/eks/06_cluster_role.tf
  terraform/modules/eks/07_cluster_sg.tf
  terraform/modules/eks/11_worker_sg.tf
Due: eks

wip
  .gitignore
  terraform/acm/acm.tf
  terraform/backend/backend.tf
  terraform/bastion/bastion.tf
  terraform/dev/variables.tf
  terraform/dev/vpc.tf
  terraform/ec2/data.tf
  terraform/ec2/dev.tfvars
  terraform/ec2/ec2.tf
  terraform/eks/00_local.tf
  terraform/eks/03_eks.tf
  terraform/elasticsearch/es.tf
  terraform/elasticsearch/variable.tf
  terraform/modules/ec2/main.tf
  terraform/modules/ec2/variable.tf
  terraform/modules/eks-vpc/01_private.tf
  terraform/modules/eks-vpc/02_public.tf
  terraform/modules/eks/00_local.tf
  terraform/modules/eks/02_data.tf
  terraform/modules/eks/03_variable.tf
  terraform/modules/eks/05_cluster.tf
  terraform/modules/eks/06_cluster_role.tf
  terraform/modules/eks/07_cluster_sg.tf
  terraform/modules/eks/08_cluster_logging.tf
  terraform/modules/eks/09_worker.tf
  terraform/modules/eks/10_worker_role.tf
  terraform/modules/eks/11_worker_sg.tf
  terraform/modules/elasticsearch/data.tf
  terraform/modules/elasticsearch/output.tf
  terraform/modules/elasticsearch/variable.tf
  terraform/modules/key_pair/output.tf
  terraform/modules/key_pair/variable.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/variable.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/variable.tf
  terraform/modules/vpc/main.tf
  terraform/vpc/vpc.tf
Due: eks, vpc, ec2
